* {
	box-sizing: border-box;
}

html {
	font-family: Roboto, Open Sans, Segoe UI, sans-serif;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

input,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border-style: none;
}

.App {
	text-align: left;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.App-logo {
	height: 100px;
	pointer-events: none;
}

.App-header {
	background-color: #e9ebed;
	height: 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	border-bottom: 5px solid #f7fafc;
}

.App-body {
	background-color: #edf0f2;
	height: 85vh;
}

.Form {
	margin-top: 30px;
	animation: fade 200ms ease-out;
}

.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: #ffffff;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #bbbbbb;
	border-radius: 4px;
}

.BtnGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	will-change: opacity, transform;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #bbbbbb;
}

.FormRow:first-child {
	border-top: none;
}

.FormRowLabel {
	width: 20%;
	min-width: 70px;
	padding: 11px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 600;
}

.FormRowInput:-webkit-autofill {
	transition: background-color 100000000s;
	animation: 1ms void-animation-out;
}

.FormRowInput {
	font-size: 16px;
	width: 100%;
	padding: 11px 15px 11px 0;
	background-color: transparent;
	animation: 1ms void-animation-out;
}

.FormRowInput::placeholder {
	color: #aaaaaa;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

.container-cards {
	margin-top: 30px;
	background-color: #ffffff;
	padding: 20px 20px;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #bbbbbb;
	border-radius: 4px;
}

.container-product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	border-style: none;
	background-color: #ffffff;
	padding-top: 30px;
	padding-bottom: 20px;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #bbbbbb;
	border-radius: 4px;
}

.product-image {
	width: 350px;
	height: auto;
	margin-bottom: 10px;
}

.product-desc {
	margin-top: 10px;
	color: #aaaaaa;
}

.product-price {
	margin-top: 10px;
	color: #333333;
	text-align: right;
}

.Result {
	background-color: #ffffff;
	margin-top: 30px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
	padding: 20px;
	animation: fade 200ms ease-out;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #bbbbbb;
	border-radius: 4px;
}

.ResultTitle {
	font-weight: 500;
	margin-bottom: 8px;
	font-size: 20px;
	text-align: center;
}

.ResultMessage {
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em;
	text-align: center;
}

.ResultButton {
	margin-top: 20px;
}
